

.Home-conteiner{
  background: url("../../img/backgroundHome.svg") no-repeat center center;
  background-size: cover;
  min-height: 1022px;
  min-width: 1440px;
  box-sizing: border-box;


  .Home-conteiner-find{
    width: 380px;
    height: 374px;
    background: #FFFFFF;
    margin: 70px 187px;

  }
}