.Menu{
  display: flex;
  li {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    list-style: none;
    font-size: 14px;
    &:hover{
      background: #282c34;
      border-left: 18px solid crimson;
    }
  }
}

.subMenu{
  display: flex;
  .subMenu-list{
    cursor: pointer;
    &:hover{
      background: blueviolet;
    }
  }
}